@import "tailwindcss";
@import "tw-animate-css";

@import "./globals.css";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.centralize {
  justify-content: center;
  align-items: center;
  display: flex;
  @apply h-screen
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.header {
  background: #1d1e20;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 5px;
}