@import "tailwindcss";
@import "tw-animate-css";

@import "./globals.css";

.centralize {
  justify-content: center;
  align-items: center;
  display: flex;
  @apply h-screen
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
}